/* For most browsers */
body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  overflow-y: scroll; /* Ensure layout doesn't jump */
}

/* For WebKit browsers (Chrome, Safari, Edge) */
body::-webkit-scrollbar {
  display: none;
}
